<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oops,你要的页面不存在</title>
    <link rel="stylesheet" href="__PUBLIC__/css/404.css">
</head>
<body>
    <div class="bg_404">
        <div class="ro_ja"><img src="__PUBLIC__/img/honoka.jpg"></div>
        <div class="ro_ja"><img src="__PUBLIC__/img/hanayo.jpg"></div>
        <div class="ro_ja"><img src="__PUBLIC__/img/kotori.jpg"></div>
        <div class="ro_ja"><img src="__PUBLIC__/img/umi.jpg"></div>
        <div class="ro_ja"><img src="__PUBLIC__/img/nozomi.jpg"></div>
        <div class="ro_ja"><img src="__PUBLIC__/img/rin.jpg"></div>
        <div class="ro_ja"><img src="__PUBLIC__/img/eli.jpg"></div>
        <div class="ro_ja"><img src="__PUBLIC__/img/niko.jpg"></div>
        <div class="ro_ja"><img src="__PUBLIC__/img/maki.jpg"></div>
    </div>
</body>
</html>