<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/css/resume.css">
</head>
<body>
    <div class="body" id="brief" style="background: lightcyan;">

    </div>
    <div class="body" id="exp" style="background:lightsalmon;"></div>
    <div class="body" id="skill" style="background:yellow;"></div>
    <div class="body" id="prod" style="background:greenyellow;"></div>
    <div class="body" id="motto" style="background:orangered;"></div>
    <div class="scoll">
        <hr />
        <div class="point" data-index="0">
            <span> </span>
        </div>
        <div class="point" data-index="1">
            <span> </span>
        </div>
        <div class="point" data-index="2">
            <span> </span>
        </div>
        <div class="point" data-index="3">
            <span> </span>
        </div>
        <div class="point" data-index="4">
            <span> </span>
        </div>
    </div>
    <div class="loading">
        <img src="__PUBLIC__/img/loading.jpg">
    </div>
</body>
<script src="__PUBLIC__/js/resume.js"></script>
</html>