.scoll{
    position: fixed;
    width: 5%;
    height: 60%;
    right: 0;
    top: 20%;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    hr{
        width: 3%;
        height: 100%;
        background: white;
        color: white;
        position: absolute;
        border: none;
        left: 48.5%;
    }
    .point{
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        span{
            display: block;
            border-radius: 50%;
            background: white;
            width: 20px;
            height: 20px;
            transition: 0.5s;
            cursor: pointer;
        }
        &:hover{
            span{
                width: 30px;
                height: 30px;
            }
        }
    }
    .spanActive{
        width: 30px;
        height: 30px;
    }
}